body{
    background-color: #2095f4;
}
li>a{
    color: black;
}
a>img{
    height: 40px;
    width: 100px;
    margin-right: 5px;
}
div>img{
    margin-left: 150px;
    height: 500px;
    width: 700px;
}
.navbar{
    height: 10vh;
}
nav>ul{
    width: 100vw;
}
.navbar.scrolled{
    background: #d5dbe3;
    transition: background 100ms;
}
.head>#head-image{
    margin-left: 10px;
}
#head-image{
    height: 471px;
    width: 1000px;
}
footer>h2{
    background-color: #1159A5;
    margin-top: 50px;
    text-align: center;
}
.jumbotron{
    margin-top: 50px;
    width: auto;
    background-color: #9a9a9a;
}
.blockquote>h2{
    text-align: center;
}
.comit{
    font-weight: 1000; font-size: x-large;
}

